<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
         "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 方言 -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- 连接数 -->
		<property name="jdbc.batch_size">20</property>
		<!-- 自动提交设置为true -->
		<property name="connection.autocommit">true</property>

		<!-- 在控制台显示sql语句 -->
		<property name="show_sql">true</property>
		<!-- 在控制台格式化sql语句 -->
		<property name="format_sql">true</property>
		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>

	</session-factory>
</hibernate-configuration>