/*主体页面的CSS基础 */
.ch-container {
    padding: 0 15px;
    margin-top:80px;/* 固定顶部，留出空间 */
}

.top-block {
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    position: relative;
    display: block;
    line-height: 22px;
    text-shadow: 0 0 1px #DDD;
    text-decoration: none;
    -webkit-box-shadow: inset 0 0 0 1px #FAFAFA;
    -moz-box-shadow: inset 0 0 0 1px #FAFAFA;
    box-shadow: inset 0 0 0 1px #FAFAFA;
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0.2)), color-stop(100%, rgba(125, 185, 232, 0)));
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -o-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: -ms-linear-gradient(top, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#331e5799', endColorstr='#007db9e8', GradientType=0);
}

.top-block span {
    clear: both;
}

.top-block i {
    font-size: 25px;
}

.top-block:hover {
    text-decoration: none;
}

img.grayscale {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

footer {
    clear: both;
}

.center-footer {
    text-align: center;
}

div.center, p.center, img.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
}
/* 导航部分 */
.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: none;
}

.sidebar-nav > ul > li:not(.nav-header) {
    margin-right: -2px;
    margin-left: -2px;
}

.navbar-brand {
    font-family: 'Shojumaru', cursive, Arial, serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 183px;
    font-size: 17px;
}

.navbar-brand img {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.navbar-brand span {
    float: left;
}

.theme-container {
    z-index: 5;
}

.navbar-search {
    margin-left: 10px;
    margin-top: 7px;
}

.navbar-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    height: 60px;
}

.navbar-inner .btn-group {
    margin: 7px 5px 0 5px;
}
.main-menu > li > a {
    border: 1px solid rgba(221, 221, 221, 0.46);
}

.main-menu > li {
    margin-top: 0 !important;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.navbar {
    border-radius: 0;
}

ul.main-menu li:hover {
    margin-left: 8px;
}

ul.main-menu li.active {
    margin-left: 8px;
}

ul.main-menu li.nav-header:hover {
    margin-left: 0;
}

ul.main-menu li:not(.nav-header) {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.accordion > ul {
    display: none;
    margin-left: 10px;
}

.nav-sm {
    display: none;
}

.preview-on-phone {
    height: 380px;

}
/* 空白格 */
.whitespace:before {
    content: "\2122";
    color: transparent !important;
}

.center-block {
    float: none !important;
    text-align: center;
}


/* 颜色 */
.green {
    color: #458746;
}

.red {
    color: #B94846;
}

.blue {
    color: #3986AC;
}

.yellow {
    color: #F99406;
}


/* 移动端 */
@media only screen and (max-width: 767px) {

    .navbar-brand {
        font-family: 'Shojumaru', cursive, Arial, serif;
        letter-spacing: 2px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 40%;
        font-size: 14px;
    }

    .nav-sm {
        display: block;
        margin-bottom: 10px;
        border-bottom: solid white 1px;
        padding-bottom: 10px;
    }

    .sidebar-nav .nav-canvas {
        top: -20px;
        left: -90%;
        position: absolute;
        width: 80%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        margin: 0 !important;
        border-radius: 0 0 20px 0;
        padding-bottom: 10px;
        will-change: left;
    }

    .sidebar-nav.active .nav-canvas {
        left: -20px;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
    }

    .sidebar-nav {
        position: relative;
        z-index: 3;
        margin: 0 !important;
        padding: 0;
    }

    .nav-canvas {
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .sidebar-nav a {
        border: none !important;
        color: white;
    }

    .main-menu .nav-header {
        color: white;
    }

    ul.main-menu li:hover {
        margin-left: inherit;
    }

    ul.main-menu li.active {
        margin-left: inherit;
    }

    ul.main-menu a:hover, .nav-sm a:hover {
        background: none !important;
        color: grey;
    }

    .navbar-default .navbar-toggle:focus {
        background-color: inherit;
    }

    .navbar-default .navbar-toggle.active {
        box-shadow: 0 0 7px rgb(0, 255, 40);
        border: solid 1px white;
    }

    .navbar-toggle {
        margin-left: 5px;
        margin-right: 0;
    }

    .copyright {
        text-align: center;
    }
    
    .center-footer {
    	display:none;
	}
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .box-icon {
        display: none;
    }

    .box-header h2 {
        font-size: 13px !important;
    }

    .box-header h3 {
        font-size: 11px !important;
    }

    .main-menu-span {
        width: 6.2% !important;
        margin-right: 4%;
    }

    .top-menu > li i {
        display: none;
    }

    .sidebar-nav li span {
        display: block !important;
    }

    .sidebar-nav li a, .sidebar-nav .nav-header {
        text-align: center
    }

    .sidebar-nav {
        padding: 0;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 980px) {
    a, button, input[type=submit], input[type=button], .product-img {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .ch-container {
        padding: 0 20px;
    }
}
